dist/
node_modules/
docs/
tests/fixtures/*.dylib
tests/fixtures/*.so
tests/fixtures/paths.ts
tests/fixtures/bytes.ts
tests/fixtures/*.swiftmodule
tests/fixtures/*.swiftdoc
tests/fixtures/*.swiftsourceinfo
tests/fixtures/*.abi.json
linux/
